* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: 'Lato', sans-serif;
}

.row {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.div {
  display: block;
}

.logo {
  padding-top: 10px;
}

.text-name {
  text-align: right;
  margin-top: 0;
  color: #2d3c49;
}

.text-role {
  font-weight: bold;
  text-align: right;
  margin-top: 0;
  color: #2d3c49;
}

.row-bar {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  background-color: #7d97ad;
}

.bg-image {
  width: 100vw;
}

.text-section-title {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 8px;
  color: #7d97ad;
}

.featured-work {
  margin-right: auto;
}

.col-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-image {
  margin-left: auto;
  margin-right: auto;
}

.text-app-name {
  font-size: 36px;
  text-align: center;
  color: #2d3c49;
}

.text-app-link {
  font-size: 18px;
  text-align: center;
  color: #2d3c49;
}

.project-image {
  width: 55vw;
  margin-left: auto;
  margin-right: auto;
}

.project-description {
}

@media screen and (max-width: 350px) {
  .logo {
    width: 45px;
    length: 45px;
  }
  .text-name {
    font-size: 20px;
    padding-top: 10px;
    margin-top: 4;
    margin-bottom: 8px;
  }
  .text-role {
    font-size: 14px;
  }
  .row-bar {
    height: 2px;
    margin-top: 2px;
    margin-bottom: 8px;
  }
  .text-section-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .portfolio-image {
    width: 100vmin;
  }
  .text-app-name {
    font-size: 21px;
  }
  .text-app-link {
    font-size: 14px;
  }
}

@media screen and (min-width: 351px) and (max-width: 450px) {
  .logo {
    width: 60px;
    length: 60px;
  }
  .text-name {
    font-size: 26px;
    padding-top: 10px;
    margin-top: 4;
    margin-bottom: 10px;
  }
  .text-role {
    font-size: 18px;
  }
  .row-bar {
    height: 3px;
    margin-top: 5px;
    margin-bottom: 12px;
  }
  .text-section-title {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  .portfolio-image {
    width: 100vmin;
  }
  .text-app-name {
    font-size: 21px;
  }
  .text-app-link {
    font-size: 14px;
  }
}

@media screen and (min-width: 451px) and (max-width: 525px) {
  .logo {
    width: 68px;
    length: 68px;
  }
  .text-name {
    font-size: 38px;
    padding-top: 10px;
    margin-top: 4;
    margin-bottom: 10px;
  }
  .text-role {
    font-size: 19px;
  }
  .row-bar {
    height: 4px;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .featured-work {
    margin-right: auto;
  }
  .text-section-title {
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .portfolio-image {
    width: 100vmin;
  }
  .text-app-name {
    font-size: 28px;
  }
  .text-app-link {
    font-size: 16px;
  }
}

@media screen and (min-width: 526px) and (max-width: 991px) {
  .logo {
    padding-top: 14px;
    width: 78px;
    length: 78px;
  }
  .text-name {
    font-size: 44px;
    padding-top: 12px;
    margin-top: 5;
    margin-bottom: 10px;
  }
  .text-role {
    font-size: 22px;
  }
  .row-bar {
    height: 5px;
    margin-top: 10px;
    margin-bottom: 28px;
  }
  .featured-work {
    margin-right: auto;
  }
  .text-section-title {
    font-size: 34px;
    margin-top: 34px;
    margin-bottom: 17px;
  }
  .portfolio-image {
    width: 42vmin;
    min-width: 223px;
  }
  .text-app-name {
    font-size: 36px;
  }
  .text-app-link {
    font-size: 16px;
  }
}

@media screen and (min-width: 700px) and (max-width: 991px) {
  .logo {
    padding-top: 15px;
    width: 91px;
    length: 91px;
  }
  .text-name {
    font-size: 56px;
    padding-top: 12px;

  }
  .text-role {
    font-size: 23px;
  }
}

@media screen and (min-width: 992px) {
  .logo {
    padding-top: 18px;
    width: 100px;
    length: 100px;
  }
  .text-name {
    font-size: 72px;
    padding-top: 10px;
    margin-bottom: 5px;
  }
  .text-role {
    font-size: 24px;
  }
  .row-bar {
    height: 5px;
    margin-top: 12px;
    margin-bottom: 36px;
  }
  .text-section-title {
    font-size: 36px;
    margin-top: 36px;
    margin-bottom: 18px;
  }
  .featured-work {
    justify-content: space-between;
  }
  .portfolio-image {
    width: 30vmin;
    min-width: 300px;
  }
  .text-app-name {
    font-size: 38px;
  }
  .text-app-link {
    font-size: 18px;
  }
}
